
@{
    Layout = null;
}

<style>
    .backGround_ {
       background-image: url('../../Content/ISPINIA/img/BG-02-01.png');
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      padding-bottom: 37.5%;
    }

</style>

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEDICON | Login</title>
    <link href="~/Content/ISPINIA/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/ISPINIA/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/ISPINIA/css/animate.css" rel="stylesheet" />
    <link href="~/Content/ISPINIA/css/style.css" rel="stylesheet" />
    <link rel="icon" href="~/Content/ISPINIA/img/MedconICon-01.ico" type="image/x-icon" />
 
</head>

<body class="backGround_">

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div class="row">
            <br /><br /><br /><br />

            <div class=" row ibox-content" style="border-radius: 10px; background: rgba(255, 255, 255, 0.9); box-shadow:  2px 2px 4px #303030;">
                <div style="text-align:center">
                    <img src="~/Content/ISPINIA/img/MEDICON-02.png" style="height: 300px; width: 300px; margin-top: -20px; margin-bottom: -20px;"/>
                    <h2><b style="font-size:26px; color:teal;">DAVNOR EMPLOYEES</b></h2>
                    <h2><b style="font-size:26px; color:teal;">HEALTH AND WELLNESS</b></h2>
                    <h2><b style="font-size:26px; color:teal;">AUTOMATED SYSTEM</b></h2>
                    @*<img src="~/Content/ISPINIA/img/MEDCON2-01.png" />*@
                </div>
                @*<p class="login-box-msg" style="font-size:16px;font-weight:800;color:teal">DAVNOR MEDCON Information System</p>*@
                <form class="m-t" role="form" method="post" action="~/Account/SignIn">
                    <div class="form-group">
                        <input type="text" name="Username" class="form-control" placeholder="Username" required>
                    </div>
                    <div class="form-group">
                        <input type="password" name="Password" class="form-control" placeholder="Password" required="">
                    </div>
                    <div class="form-group text-center">
                        <span style="color:red">@ViewBag.message</span>
                    </div>
                    <button type="submit" class="btn btn-primary block full-width m-b" href="index.html">Login</button>
                </form>
                <p class="m-t text-white" style="color:#808080">
                    Copyright <strong>Provincial Health Office</strong><br />
                    Powered by <strong>PADO - Information Technology</strong><br />
                    All Rights Reserved &copy; 2022asdasd
                </p>
            </div>
        </div>
    </div>
</body>
</html>

