@{
    //ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    select2-selection__rendered {
        line-height: 31px !important;
    }

    .select2-container .select2-selection--single {
        height: 35px !important;
    }

    .select2-selection__arrow {
        height: 34px !important;
    }

    .center {
        margin: auto;
        width: 60%;
        border: 1px solid #a4a4a4;
        padding: 10px;
    }
</style>
<div ng-controller="userCtrl">
    <!-- HEADER -->
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-6">
            <h2>User Management</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="">User Management</a>
                </li>
                <li class="active">
                    <strong>Accounts</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-6" style="margin-top:30px; text-align:end;">
            <button class="btn btn-success" ng-click="addUser()"><i class="fa fa-plus"></i> Add Personnel </button>
        </div>
    </div>
    <!-- /HEADER -->

    <!-- USER TABLE -->
    <div class="wrapper wrapper-content animated fadeInRight">
       @* <button type="submit" class="btn btn-info btn-sm" style="margin-right: 2px;" ng-click="printBtn()"><i class="fa fa-save"></i> Print </button>*@
        <div class="row">
            <div class="col-xs-12">
                <div class="animated fadeInRight ecommerce">
                    <div class="panel panel-info">
                        <div class="panel-heading text-center">
                            <i class="fa fa-users"></i>
                            <label class="text-center">LIST OF USERS</label>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="table-responsive">
                                        <table id="userTable" class="table table-striped table-bordered table-hover" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">#</th>
                                                    <th>Full Name</th>
                                                    <th class="text-center">Sex</th>
                                                    <th class="text-center">Contact No.</th>
                                                    <th class="text-center">Position</th>
                                                    <th class="text-center">User Type</th>
                                                    <th class="text-center">Service</th>
                                                    <th class="text-center">Username</th>
                                                    <th class="text-center">Active</th>
                                                    <th class="text-center">Action</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- USER TABLE -->

    <!-- ADD USER MODAL -->
    <div class="modal inmodal" id="addUserModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <i class="fa fa-user modal-icon"></i>
                    <h5 class="modal-title" style="color:#66b2b2">ADD PERSONNEL</h5>
                </div>
                <form id="USER_FORM" name="USER_FORM">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-12 col-lg-12 col-md-12">
                                <div class="animated fadeInRight ecommerce">
                                    <div class="panel panel-info">
                                        <div class="panel-heading text-center">
                                            @*<i class="fa fa-user"></i>*@
                                            <label class="text-center">PERSONNEL INFORMATION</label>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="row">
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label class="control-label" for="firstName">First Name</label><span style="color:#ff0000"> *</span>
                                                                    <input type="text" required ng-model="users.personnel_firstName" placeholder="First Name" class="form-control" />
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label class="control-label" for="middleName">Middle Initial</label>
                                                                    <input type="text" ng-model="users.personnel_midInit" maxlength="1" placeholder="Middle Initial" class="form-control" />
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label class="control-label" for="lastName">Last Name</label><span style="color:#ff0000"> *</span>
                                                                    <input type="text" required ng-model="users.personnel_lastName" placeholder="Last Name" class="form-control" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label class="control-label" for="extName">Suffix</label>
                                                                    <input type="text" ng-model="users.personnel_extName" placeholder="Suffix" class="form-control" />
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4 col-xs-4 col-lg-4">
                                                                <label class="control-label">Sex</label><span style="color:#ff0000"> *</span>
                                                                <div class="form-group text-left">
                                                                    <div class="radio radio-primary radio-inline">
                                                                        <input type="radio" id="radio_sex_male" value="MALE" name="radio_sex" ng-model="users.sex" ng-checked="users.sex" />
                                                                        <label for="radio_sex_male">Male </label>
                                                                    </div>
                                                                    <div class="radio radio-danger radio-inline">
                                                                        <input type="radio" id="radio_sex_female" value="FEMALE" name="radio_sex" ng-model="users.sex" ng-checked="users.sex" />
                                                                        <label for="radio_sex_female">Female </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4 col-xs-4 col-lg-4">
                                                                <div class="form-group">
                                                                    <label class="control-label" for="contactNum">Contact No.</label>
                                                                    <input type="text" ng-model="users.contactNum" maxlength="11"  placeholder="Contact Number" class="form-control" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <hr class="hr-line-dashed" />
                                                        <div class="row">
                                                            <div ng-class="users.userTypeID == '1' || users.userTypeID == '4' || users.userTypeID == '7' || users.userTypeID == '8' ? 'col-sm-6 col-xs-6':'col-sm-4 col-xs-4'">
                                                                <div class="form-group">
                                                                    <label class="control-label" for="userType">Select User Type</label><span style="color:#ff0000"> *</span>
                                                                    <select ng-model="users.userTypeID" ng-change="sService(users.userTypeID)" name="userType" id="userType" required style="width: 100%;" class="form-control">
                                                                        <option value=""></option>
                                                                        <option ng-repeat="item in userTypes" value={{item.userTypeID}}>{{item.userTypeDesc}}</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div ng-show="users.userTypeID != '1' && users.userTypeID != '4' &&  users.userTypeID != '7' && users.userTypeID != '8'" class="col-sm-4 col-xs-4 col-lg-4">
                                                                <div class="form-group">
                                                                    <label class="control-label" for="userType">Select Service</label><span style="color:#ff0000"> *</span>
                                                                    <select ng-model="users.serviceID" name="userType" id="service" style="width: 100%;" class="form-control" ng-required="users.userTypeID != '1' && users.userTypeID != '4' && users.userTypeID != '7' && users.userTypeID != '8'">
                                                                        <option value=""></option>
                                                                        <option ng-repeat="item in services" value={{item.serviceID}}>{{item.serviceName}}</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div ng-class="users.userTypeID == '1' || users.userTypeID == '4' || users.userTypeID == '7' || users.userTypeID == '8' ? 'col-sm-6 col-xs-6':'col-sm-4 col-xs-4'">
                                                                <div class="form-group">
                                                                    <label class="control-label" for="userType">Position</label><span style="color:#ff0000"> *</span>
                                                                    <input type="text" required ng-model="users.position" placeholder="Postion" class="form-control" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <hr class="hr-line-dashed" />
                                                    <div class="row" ng-show="credentials && !isEditting">
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="control-label" for="username">Username</label><span style="color:#ff0000"> *</span>
                                                                <input type="text" id="username" name="username" ng-model="users.username" placeholder="Username" class="form-control" />
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="control-label" for="password">Password</label><span style="color:#ff0000"> *</span>
                                                                <input id="password1" name="password1" type="password" ng-model="users.password" class="form-control" placeholder="Password">
                                                                <div class="checkbox checkbox-danger">
                                                                    <input id="pass1" name="pass1" type="checkbox" ng-click="showPass1()" />
                                                                    <label for="pass1">Show Password</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="control-label" for="cpassword">Confirm Password</label><span style="color:#ff0000"> *</span>
                                                                <input id="password2" type="password" name="password2" data-validate-linked="password" ng-model="users.cpassword" class="form-control" placeholder="Confirm Password">

                                                                <div class="checkbox checkbox-danger">
                                                                    <input id="pass2" name="pass2" type="checkbox" ng-click="showPass2()" />
                                                                    <label for="pass2">Show Password</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button ng-show="!isEditting"  type="submit" class="btn btn-primary" style="margin-right: 2px;" ng-click="!USER_FORM.$invalid ? saveUser(users):''"> Save </button>
                        <button ng-show="isEditting" type="submit" class="btn btn-success" style="margin-right: 2px;" ng-click="!USER_FORM.$invalid ? saveUpdates(users):''"> Save Updates </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"> Cancel </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- ADD USER MODAL -->

</div>

@section scripts
{
    <script src="~/Scripts/AngularJS/Utility/UserManagement.js?v=1.1"></script>
}






