
@{
    ViewBag.Title = "Appointment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .swal2-container {
        z-index: 20000 !important;
    }

    .table-wrapper-scroll-y {
        display: block;
    }

    th {
        position: sticky;
        position: -webkit-sticky;
        top: 0px;
        z-index: 2;
    }

    .my-custom-scrollbar {
        position: relative;
        /*height: 760px !important;*/
        height: -webkit-fill-available !important;
        overflow: auto;
        border: none;
        width: 100%;
    }

    .month_green_cell_inner {
        cursor: pointer;
    }

        .month_green_cell_inner:hover {
            font-size: larger;
            color: #47A477;
            background-color: #d9f9e9;
        }

    .month_default_shadow_forbidden .month_default_shadow_inner {
        background-color: #cc4125;
    }

    body.modal-open .modal {
    display: flex !important;
    height: 100%;
} 

    body.modal-open .modal .modal-dialog {
        margin: auto;
    }

</style>

<link href="~/Content/Daypilot-Calendar/demo/themes/month_green.css" rel="stylesheet" />

<div ng-controller="AppointmentCtrl">
    <!-- HEADER -->
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Patient Appointment</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="">Medicon</a>
                </li>
                <li>
                    <a href="">Patient</a>
                </li>
                <li class="active">
                    <strong>Appointment</strong>
                </li>
            </ol>
        </div>
        <div class="col-sm-2" style="margin-top:30px; text-align:end;">
            <button class="btn" ng-class="showClientList == false ? 'btn-primary':'btn-danger'" ng-show="showClientListBTN" ng-click="showDiagnoseList()"><i class="fa" ng-class="showClientList == false ? 'fa-list':'fa-angle-double-left'"></i> {{showClientList == false ? 'Patient List':'Back'}} </button>
        </div>
    </div>
    <!-- /HEADER -->

    <div class="wrapper wrapper-content ">
        <div class="row">
            <div class="animated fadeInRight ecommerce">
                <div class="col-sm-12 col-xs-12" style="margin-bottom: 5px;">
                    <h1 style="margin-top: -5px; text-align: center;">{{calendar}}</h1>
                    <div class="text-center">
                        <a class="btn btn-white btn-bitbucket" ng-click="previousMonth()">
                            <i class="fa fa-angle-double-left"></i>
                        </a>
                        <a class="btn btn-primary btn-facebook btn-outline" ng-click="today()">
                            Today {{currentDate}}
                        </a>
                        <a class="btn btn-white btn-bitbucket" ng-click="nextMonth()">
                            <i class="fa fa-angle-double-right"></i>
                        </a>
                    </div>
                    <div style="margin-bottom: -9px; margin-top: 10px;">
                        <p id="sessionUserTypeID" class="hidden">@Session["userTypeID"].ToString()</p>
                        <p id="sessionPersonnelID" class="hidden">@Session["personnelID"].ToString()</p>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-4" ng-if="showSchedPatient">
                    <div class="ibox float-e-margins animated fadeInLeft" style="border: 1px solid #aaa;">
                        <div class="ibox-title" style="background-color: #636363; color: white;">
                            <h5>Scheduled Patients - {{headerDate}}</h5>
                            <div class="ibox-tools">
                                <a class="btn-link" ng-click="addPatient()" style="margin-right: 5px; font-size: medium">
                                    <i class="fa fa-calendar-o"></i>
                                </a>
                                <a class="btn-link" ng-click="hideClientList()" style="font-size: medium">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content" style="height: 582px;">
                            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>ID no.</th>
                                            <th>Employee Name</th>
                                            <th>Department</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="text-center" ng-show="tbl_loader">
                                            <td colspan="4">
                                                <div class="sk-spinner sk-spinner-double-bounce">
                                                    <div class="sk-double-bounce1"></div>
                                                    <div class="sk-double-bounce2"></div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="text-center" ng-show="patientList.length == 0 && tbl_loader == false">
                                            <td colspan="4">
                                                <span>NO INFORMATION FOUND!</span>
                                            </td>
                                        </tr>
                                        <tr ng-repeat="item in patientList">
                                            <td>{{$index + 1}}</td>
                                            <td>{{item.idNo}}</td>
                                            <td>{{item.fullNameLast}}</td>
                                            <td>{{item.shortDepartmentName}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-class="showSchedPatient ? 'col-sm-8 col-xs-8' : 'col-sm-12 col-xs-12'">
                    <div id="dp" style="margin-bottom: 15px;"></div>
                </div>
            </div>
        </div>
    </div>


    <!-- MODAL SELECT PATIENT -->
    <div class="modal fade" id="modalPatient">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="resetModal()">&times;</button>
                    <h4 class="modal-title text-center">Search Employee</h4>
                </div>
                <div class="modal-body" style="height: 100%;">
                    <form id="INFO_FORM" name="INFO_FORM">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <input type="text" id="info_lastName" name="info_lastName" ng-model="infoFormData.lastName" placeholder="Last name" class="form-control text-center" />
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <input type="text" id="info_firstName" name="info_firstName" ng-model="infoFormData.firstName" placeholder="First name" class="form-control text-center" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-primary full-width" ng-disabled="INFO_FORM.$invalid" ng-click="mainSearchByName(infoFormData)"><i class="fa fa-search"></i> Search </button>
                            </div>
                        </div>
                    </form>
                    <hr />
                    <div class="table-wrapper-scroll-y my-custom-scrollbar" style="height: 300px !important;">
                        <table class="table table-stripped table-bordered">
                            <thead>
                                <tr>
                                    <th>Last name</th>
                                    <th>First name</th>
                                    <th>Middle name</th>
                                    <th>Sex</th>
                                    <th>Birthday</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-center" ng-show="modal_tableLoader">
                                    <td colspan="6">
                                        <div class="sk-spinner sk-spinner-double-bounce">
                                            <div class="sk-double-bounce1"></div>
                                            <div class="sk-double-bounce2"></div>
                                        </div>
                                        <text><i>Please wait, we are loading your data...</i></text>
                                    </td>
                                </tr>
                                <tr class="text-center" ng-show="searchResultList.length == 0 && modal_tableLoader == false">
                                    <td colspan="6">
                                        <text>NO INFORMATION FOUND!</text>
                                    </td>
                                </tr>
                                <tr ng-repeat="person in searchResultList | orderBy: 'firstName'">
                                    <td>{{person.lastName}}</td>
                                    <td>{{person.firstName}}</td>
                                    <td>{{person.middleName}}</td>
                                    <td>{{person.sex == 'MALE' ? 'M' : person.sex == 'FEMALE' ? 'F' : ''}}</td>
                                    <td>{{person.birthDate}}</td>
                                    <td class="text-center">
                                        <button class="btn btn-sm btn-success" ng-click="createAppointment(person)"><i class="fa fa-stethoscope"></i> Set</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /MODAL SELECT PATIENT -->

    <!-- MODAL PATIENT SCHEDULER -->
    <div class="modal fade" id="modalPatientScheduler">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="resetSchedulerModal()">&times;</button>
                    <h4 class="modal-title text-center">Patient/Employee Scheduler for Follow-up Check up</h4>
                </div>
                <form id="schedulerForm" name="schedulerForm">
                    <div class="modal-body" style="padding-bottom: 10px !important;">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="physician">Physician</label>
                                    <input type="text" id="physician" name="physician" ng-model="scheduleData.physician" class="form-control text-center" readonly />
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="patientCount">Number of Patient</label>
                                    <input type="number" id="patientCount" name="patientCount" ng-model="scheduleData.patientCount" placeholder="0" class="form-control text-center font-bold" readonly />
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="date">Date of Previous Consultation</label>
                                    <input type="date" id="date" name="date" ng-model="scheduleData.date" ng-change="selectConsultationDate(scheduleData)" required class="form-control text-center" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col-sm-12">
                            <button class="btn btn-primary full-width" type="submit" ng-click="!schedulerForm.$invalid ? createAppointment(scheduleData):''">Create Schedule</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /MODAL PATIENT SCHEDULER -->

</div>

@section scripts
{
    <script src="~/Content/Daypilot-Calendar/scripts/daypilot-all.min.js"></script>
    <script src="~/Scripts/AngularJS/PatientCalendar/PatientCalendar.js"></script>
}


