
@{
    ViewBag.Title = "Appointment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .swal2-container {
        z-index: 20000 !important;
    }

    .table-wrapper-scroll-y {
        display: block;
    }

    th {
        position: sticky;
        position: -webkit-sticky;
        top: 0px;
        z-index: 2;
    }

    .my-custom-scrollbar {
        position: relative;
        /*height: 760px !important;*/
        overflow: auto;
        border: none;
        width: 100%;
    }

    .month_green_cell_inner {
        cursor: pointer;
    }

        .month_green_cell_inner:hover {
            font-size: larger;
            color: #47A477;
            background-color: #d9f9e9;
        }

    .month_default_shadow_forbidden .month_default_shadow_inner {
        background-color: #cc4125;
    }

</style>

<link href="~/Content/Daypilot-Calendar/demo/themes/month_green.css" rel="stylesheet" />

<div ng-controller="AppointmentCtrl">
    <!-- HEADER -->
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Patient Appointment</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="">Medicon</a>
                </li>
                <li>
                    <a href="">Patient</a>
                </li>
                <li class="active">
                    <strong>Appointment</strong>
                </li>
            </ol>
        </div>
        <div class="col-sm-2" style="margin-top:30px; text-align:end;">
            <button class="btn" ng-class="showClientList == false ? 'btn-primary':'btn-danger'" ng-show="showClientListBTN" ng-click="showDiagnoseList()"><i class="fa" ng-class="showClientList == false ? 'fa-list':'fa-angle-double-left'"></i> {{showClientList == false ? 'Patient List':'Back'}} </button>
        </div>
    </div>
    <!-- /HEADER -->

    <div class="wrapper wrapper-content ">
        <div class="row">
            <div class="animated fadeInRight ecommerce">
                <div class="col-sm-12 col-xs-12" style="margin-bottom: 5px;">
                    <h1 style="margin-top: -5px; text-align: center;">{{calendar}}</h1>
                    <div class="text-center">
                        <a class="btn btn-white btn-bitbucket" ng-click="previousMonth()">
                            <i class="fa fa-angle-double-left"></i>
                        </a>
                        <a class="btn btn-primary btn-facebook btn-outline" ng-click="today()">
                            Today {{currentDate}}
                        </a>
                        <a class="btn btn-white btn-bitbucket" ng-click="nextMonth()">
                            <i class="fa fa-angle-double-right"></i>
                        </a>
                    </div>
                    <div style="margin-bottom: -9px; margin-top: 10px;">
                        <p id="sessionUserTypeID" class="hidden">@Session["userTypeID"].ToString()</p>
                        <p id="sessionPersonnelID" class="hidden">@Session["personnelID"].ToString()</p>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-4" ng-if="showSchedPatient">
                    <div class="ibox float-e-margins animated fadeInLeft" style="border: 1px solid #aaa;">
                        <div class="ibox-title" style="background-color: #636363; color: white;">
                            <h5>Scheduled Patients - {{headerDate}}</h5>
                            <div class="ibox-tools">
                                <a class="btn-link" ng-click="addPatient()" style="margin-right: 5px; font-size: medium">
                                    <i class="fa fa-calendar-o"></i>
                                </a>
                                <a class="btn-link" ng-click="hideClientList()" style="font-size: medium">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content" style="height: 582px;">
                            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>ID no.</th>
                                            <th>Employee Name</th>
                                            <th>Department</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="text-center" ng-show="tbl_loader">
                                            <td colspan="4">
                                                <div class="sk-spinner sk-spinner-double-bounce">
                                                    <div class="sk-double-bounce1"></div>
                                                    <div class="sk-double-bounce2"></div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="text-center" ng-show="patientList.length == 0 && tbl_loader == false">
                                            <td colspan="4">
                                                <span>NO INFORMATION FOUND!</span>
                                            </td>
                                        </tr>
                                        <tr ng-repeat="item in patientList">
                                            <td>{{$index + 1}}</td>
                                            <td>{{item.idNo}}</td>
                                            <td>{{item.fullNameLast}}</td>
                                            <td>{{item.shortDepartmentName}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-class="showSchedPatient ? 'col-sm-8 col-xs-8' : 'col-sm-12 col-xs-12'">
                    <div id="dp" style="margin-bottom: 15px;"></div>
                </div>
            </div>
        </div>
    </div>


    <!-- MODAL SELECT PATIENT -->
    <div class="modal fade" id="modalPatient">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="resetModal()">&times;</button>
                    <h4 class="modal-title text-center">Search Employee</h4>
                </div>
                <div class="modal-body" style="height: 100%;">
                    <form id="INFO_FORM" name="INFO_FORM">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <input type="text" id="info_lastName" name="info_lastName" ng-model="infoFormData.lastName" placeholder="Last name" class="form-control text-center" />
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <input type="text" id="info_firstName" name="info_firstName" ng-model="infoFormData.firstName" placeholder="First name" class="form-control text-center" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-primary full-width" ng-disabled="INFO_FORM.$invalid" ng-click="mainSearchByName(infoFormData)"><i class="fa fa-search"></i> Search </button>
                            </div>
                        </div>
                    </form>
                    <hr />
                    <div class="table-wrapper-scroll-y my-custom-scrollbar" style="height: 300px !important;">
                        <table class="table table-stripped table-bordered">
                            <thead>
                                <tr>
                                    <th>Last name</th>
                                    <th>First name</th>
                                    <th>Middle name</th>
                                    <th>Sex</th>
                                    <th>Birthday</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-center" ng-show="modal_tableLoader">
                                    <td colspan="6">
                                        <div class="sk-spinner sk-spinner-double-bounce">
                                            <div class="sk-double-bounce1"></div>
                                            <div class="sk-double-bounce2"></div>
                                        </div>
                                        <text><i>Please wait, we are loading your data...</i></text>
                                    </td>
                                </tr>
                                <tr class="text-center" ng-show="searchResultList.length == 0 && modal_tableLoader == false">
                                    <td colspan="6">
                                        <text>NO INFORMATION FOUND!</text>
                                    </td>
                                </tr>
                                <tr ng-repeat="person in searchResultList | orderBy: 'firstName'">
                                    <td>{{person.lastName}}</td>
                                    <td>{{person.firstName}}</td>
                                    <td>{{person.middleName}}</td>
                                    <td>{{person.sex == 'MALE' ? 'M' : person.sex == 'FEMALE' ? 'F' : ''}}</td>
                                    <td>{{person.birthDate}}</td>
                                    <td class="text-center">
                                        <button class="btn btn-sm btn-success" ng-click="createAppointment(person)"><i class="fa fa-stethoscope"></i> Set</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /MODAL SELECT PATIENT -->

    @*<div class="wrapper wrapper-content ">
        <!-- SEARCH INFO FORM -->
        <div class="animated fadeInRight ecommerce" ng-show="!showClientList">
            <div class="row">
                <div class="col-lg-5 col-md-5">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title text-center">
                            <label class="text-center">SEARCH BY NAME</label>
                        </div>
                        <div class="ibox-content">
                            <div ng-show="!loader">
                                <div ng-show="!showInfoForm">
                                    <form id="INFO_FORM" name="INFO_FORM">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input type="text" id="info_lastName" name="info_lastName" ng-model="infoFormData.lastName" placeholder="Last name" class="form-control text-center" />
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input type="text" id="info_firstName" name="info_firstName" ng-model="infoFormData.firstName" placeholder="First name" class="form-control text-center" />
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <button class="btn btn-primary full-width" ng-disabled="INFO_FORM.$invalid" ng-click="mainSearchByName(infoFormData)"><i class="fa fa-search"></i> Search Record </button>
                                            </div>
                                        </div>
                                    </form>
                                    <hr />
                                    <div class="table-wrapper-scroll-y my-custom-scrollbar" style="height: 300px !important;">
                                        <table class="table table-stripped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Last name</th>
                                                    <th>First name</th>
                                                    <th>Middle name</th>
                                                    <th>Sex</th>
                                                    <th>Birthday</th>
                                                    <th class="text-center">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="text-center" ng-show="tableLoader">
                                                    <td colspan="6">
                                                        <div class="sk-spinner sk-spinner-double-bounce">
                                                            <div class="sk-double-bounce1"></div>
                                                            <div class="sk-double-bounce2"></div>
                                                        </div>
                                                        <text><i>Please wait, we are loading your data...</i></text>
                                                    </td>
                                                </tr>
                                                <tr class="text-center" ng-show="searchResultList.length == 0 && tableLoader == false">
                                                    <td colspan="6">
                                                        <label class="text-danger">NO INFORMATION FOUND!</label>
                                                    </td>
                                                </tr>
                                                <tr ng-repeat="person in searchResultList | orderBy: 'firstName'">
                                                    <td>{{person.lastName}}</td>
                                                    <td>{{person.firstName}}</td>
                                                    <td>{{person.middleName}}</td>
                                                    <td>{{person.sex == 'MALE' ? 'M' : person.sex == 'FEMALE' ? 'F' : ''}}</td>
                                                    <td>{{person.birthDate}}</td>
                                                    <td class="text-center">
                                                        <button class="btn btn-sm btn-primary" ng-click="selectPerson(person)">Select</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-7 col-md-7">
                    <div class="panel panel-success" style="min-height: 210px; height: 840px;">
                        <div class="panel-heading text-center">
                            <label class="text-center">LABORATORY HISTORY</label>
                        </div>
                        <div class="panel-body">
                            <div class="table-wrapper-scroll-y my-custom-scrollbar" style="height: 760px !important;">
                                <table class="table table-stripped table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="">#</th>
                                            <th>Test</th>
                                            <th>Lab. Personnel</th>
                                            <th>Lab. Date & Time</th>
                                            <th>Referred by</th>
                                            <th>Date & Time</th>
                                            <th>Status</th>
                                            <th>Action</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="text-center" ng-show="loader">
                                            <td colspan="8">
                                                <div class="sk-spinner sk-spinner-double-bounce">
                                                    <div class="sk-double-bounce1"></div>
                                                    <div class="sk-double-bounce2"></div>
                                                </div>
                                                <text><i>Please wait, we are loading your data...</i></text>
                                            </td>
                                        </tr>
                                        <tr class="text-center" ng-show="bpHistoryList.length == 0 && bpLoader == false">
                                            <td colspan="6">
                                                <label class="text-danger">NO INFORMATION FOUND!</label>
                                            </td>
                                        </tr>
                                        <tr ng-repeat="hist in testHistory | orderBy: '-labDT'">
                                            <td>{{$index + 1}}</td>
                                            <td>{{hist.labTestName}}</td>
                                            <td>{{hist.labPersonnel[0].personnel_firstName}} {{hist.labPersonnel[0].personnel_middleName}} {{hist.labPersonnel[0].personnel_lastName}} {{hist.labPersonnel[0].personnel_extName}}</td>
                                            <td>{{hist.labDT}}</td>
                                            <td>{{hist.consultPersonnel[0].personnel_firstName}} {{hist.consultPersonnel[0].personnel_middleName}} {{hist.consultPersonnel[0].personnel_lastName}} {{hist.consultPersonnel[0].personnel_extName}}</td>
                                            <td>{{hist.consultDT}}</td>
                                            <td><b ng-class="hist.isEncoded == true ? 'text-success' : 'text-danger'">{{hist.isEncoded == true ? 'Encoded' : 'Not Encoded'}}</b></td>
                                            <td>
                                                <button ng-disabled="hist.isEncoded == true" class="btn btn-success btn-sm" ng-click="encodeResult(hist, 0, true)">Encode</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /SEARCH INFO FORM -->

        <!-- LIST OF PATIENTS -->
        <div class="animated fadeInRight ecommerce" ng-show="showClientList">
            <div class="col-lg-12">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" style="text-align:center !important">Laboratory Date:</label>
                        <div class="col-sm-2">
                            <input type="date" id="FilterDate" ng-change="filterResult(FilterDate)" name="FilterDate" style="text-transform:uppercase" ng-model="FilterDate" class="text-center form-control">
                        </div>
                    </div>
                </form>
            </div>
            <br />
            <div class="ibox float-e-margins">
                <div class="ibox-title text-center">
                    <label class="text-center">LIST OF PATIENTS</label>
                </div>
                <div class="ibox-content">
                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                        <table id="clientList_tbl" class="table table-stripped table-hover" style="width: 100%;">
                            <thead>
                                <tr>

                                    <th>#</th>
                                    <th>Last name</th>
                                    <th>First name</th>
                                    <th>M.I.</th>
                                    <th>Suffix</th>
                                    <th>Sex</th>
                                    <th>Age</th>
                                    <th>Contact no.</th>
                                    <th>Lab. Test</th>
                                    <th>Lab. Date & Time</th>
                                    <th>Referred by</th>
                                    <th>Date Encoded</th>
                                    <th>Encoded By</th>
                                    <th class="text-right" data-sort-ignore="true">Action</th>

                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /LIST OF PATIENTS -->
       
    </div>*@
</div>

@section scripts
{
    <script src="~/Content/Daypilot-Calendar/scripts/daypilot-all.min.js"></script>
    <script src="~/Scripts/AngularJS/PatientCalendar/PatientCalendar.js"></script>
}


