@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .table-wrapper-scroll-y {
        display: block;
    }

    .borderless tr td {
        border: none !important;
        padding: 2px !important;
    }

    th {
	    position: sticky;
	    position: -webkit-sticky;
	    top: 0px;
	    z-index: 2;
    }

    .my-custom-scrollbar {
        position: relative;
        /*height: 330px !important;*/
        overflow: auto;
        border: none;
        width: 100%;
    }
</style>


<div ng-controller="LabTestCtrl">
    <!-- HEADER -->
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Laboratory</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="">Medicon</a>
                </li>
                <li class="active">
                    <strong>Laboratory</strong>
                </li>
            </ol>
        </div>
        <div class="col-sm-2" style="margin-top:30px; text-align:end;">
            <button class="btn" ng-class="showClientList == false ? 'btn-primary':'btn-danger'" ng-show="showClientListBTN" ng-click="showDiagnoseList()"><i class="fa" ng-class="showClientList == false ? 'fa-list':'fa-angle-double-left'"></i> {{showClientList == false ? 'Patient List':'Back'}} </button>
        </div>
    </div>
    <!-- /HEADER -->


    <div class="wrapper wrapper-content ">
        <!-- QR CODE INFO FORM -->
        <div class="animated fadeInRight ecommerce" ng-show="!showClientList">
            <div class="row">
                <div class="col-lg-5 col-md-5">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title text-center">
                            <label class="text-center">QR CODE INFORMATION</label>
                        </div>
                        <div class="ibox-content">
                            <div class="profile_img">
                                <!-- Current avatar -->
                                <video id="preview" class="img-responsive avatar-view" style="width: 100%; height: 100%;" />
                            </div>
                            <form name="qrSearchForm">
                                <div class="input-group" style="margin-top: 10px; margin-bottom: -10px;">
                                    <input type="text" class="form-control border-green" ng-model="searchQRcode" placeholder="Search by QR code number" style="width:100%;" required>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-success" ng-disabled="qrSearchForm.$invalid" ng-click="mainSearch(searchQRcode)"> Find <i class="fa fa-qrcode"></i></button>
                                    </span>
                                </div>
                            </form>
                            <br />

                            <div class="text-center" ng-show="loader" style="margin-top: 10%;">
                                <div class="sk-spinner sk-spinner-double-bounce">
                                    <div class="sk-double-bounce1"></div>
                                    <div class="sk-double-bounce2"></div>
                                </div>
                                <text><i>Please wait, we are getting your data...</i></text>
                            </div>
                            <div ng-show="!loader">
                                <form id="QR_FORM" name="QR_FORM">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label" for="qr_lastName">Last name</label>
                                                <input type="text" id="qr_lastName" name="qr_lastName" ng-model="qrData.lastName" placeholder="Last name" class="form-control text-center" readonly style="background-color: white;" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label" for="qr_firstName">First name</label>
                                                <input type="text" id="qr_firstName" name="qr_firstName" ng-model="qrData.firstName" placeholder="First name" class="form-control text-center" readonly style="background-color: white;" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label" for="qr_mi">Middle name</label>
                                                <input type="text" id="qr_mi" name="qr_mi" ng-model="qrData.middleName" placeholder="Middle name" class="form-control text-center" readonly style="background-color: white;" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label" for="qr_suffix">Suffix</label>
                                                <input type="text" id="qr_suffix" name="qr_suffix" ng-model="qrData.extName" placeholder="Suffix" class="form-control text-center" readonly style="background-color: white;" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label" for="qr_birthdate">Birthday</label>
                                                <input type="date" id="qr_birthdate" name="qr_birthdate" ng-model="qrData.birthdate" class="form-control text-center" readonly style="background-color: white;" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <label class="control-label">Sex</label>
                                            <div class="form-group text-center">
                                                <div class="radio radio-primary radio-inline">
                                                    <input type="radio" id="radio_sex_male" value="true" name="radio_sex" ng-model="qrData.sex" disabled />
                                                    <label for="radio_sex_male"> Male </label>
                                                </div>
                                                <div class="radio radio-danger radio-inline">
                                                    <input type="radio" id="radio_sex_female" value="false" name="radio_sex" ng-model="qrData.sex" disabled />
                                                    <label for="radio_sex_female"> Female </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="control-label" for="qr_contactNo">Contact no.</label>
                                                <input type="text" id="qr_contactNo" name="qr_contactNo" ng-model="qrData.contactNo" placeholder="Contact no." class="form-control text-center" readonly style="background-color: white;" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="control-label" for="qr_address">Address</label>
                                                <input type="text" id="qr_address" name="qr_address" ng-model="qrData.fullAddress" placeholder="Address" class="form-control text-center" readonly style="background-color: white;" />
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-7 col-md-7">
                    <div class="panel panel-danger" style="min-height: 200px; height: 409px;">
                        <div class="panel-heading text-center">
                            <label class="text-center">LABORATORY REQUEST</label>
                        </div>
                        <div class="panel-body">
                            <div class="table-wrapper-scroll-y my-custom-scrollbar" style="height: 330px !important;">
                                <table class="table table-stripped table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Test</th>
                                            <th>Referred by</th>
                                            <th class="text-center">Date & Time</th>
                                            <th class="text-center">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="text-center" ng-show="loader">
                                            <td colspan="5">
                                                <div class="sk-spinner sk-spinner-double-bounce">
                                                    <div class="sk-double-bounce1"></div>
                                                    <div class="sk-double-bounce2"></div>
                                                </div>
                                                <text><i>Please wait, we are loading your data...</i></text>
                                            </td>
                                        </tr>
                                        <tr class="text-center" ng-show="bpHistoryList.length == 0 && bpLoader == false">
                                            <td colspan="5">
                                                <label class="text-danger">NO INFORMATION FOUND!</label>
                                            </td>
                                        </tr>
                                        <tr ng-repeat="lab in labReq | orderBy: '-consultDT'">
                                            <td class="text-center">{{$index + 1}}</td>
                                            <td><strong>{{lab.LabTestGroupID == null ? lab.labTestName : lab.labGroupName}}</strong></td>
                                            <td>{{lab.consultPersonnel[0].personnel_firstName}} {{lab.consultPersonnel[0].personnel_middleName}} {{lab.consultPersonnel[0].personnel_lastName}} {{lab.consultPersonnel[0].personnel_extName}}</td>
                                            <td class="text-center">{{lab.consultDT}}</td>
                                            <td class="text-center">
                                                <div class="checkbox checkbox-danger" style="margin-top: 3px !important;">
                                                    <input type="checkbox" id="tagTested" ng-model="isTested" ng-change="tagTested(lab, isTested)">
                                                    <label></label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-success" style="min-height: 200px; height: 409px;">
                        <div class="panel-heading text-center">
                            <label class="text-center">LABORATORY HISTORY</label>
                        </div>
                        <div class="panel-body">
                            <div class="table-wrapper-scroll-y my-custom-scrollbar" style="height: 330px !important;">
                                <table class="table table-stripped table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Test</th>
                                            <th>Lab. Personnel</th>
                                            <th class="text-center">Lab. Date & Time</th>
                                            <th>Referred by</th>
                                            <th class="text-center">Date & Time</th>
                                            <th class="text-center">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="text-center" ng-show="loader">
                                            <td colspan="7">
                                                <div class="sk-spinner sk-spinner-double-bounce">
                                                    <div class="sk-double-bounce1"></div>
                                                    <div class="sk-double-bounce2"></div>
                                                </div>
                                                <text><i>Please wait, we are loading your data...</i></text>
                                            </td>
                                        </tr>
                                        <tr class="text-center" ng-show="bpHistoryList.length == 0 && bpLoader == false">
                                            <td colspan="7">
                                                <label class="text-danger">NO INFORMATION FOUND!</label>
                                            </td>
                                        </tr>
                                        <tr ng-repeat="hist in testHistory | orderBy: '-labDT'">
                                            <td class="text-center">{{$index + 1}}</td>
                                            <td><strong>{{hist.LabTestGroupID == null ? hist.labTestName : hist.labGroupName}}</strong></td>
                                            <td>{{hist.labPersonnel[0].personnel_firstName}} {{hist.labPersonnel[0].personnel_middleName}} {{hist.labPersonnel[0].personnel_lastName}} {{hist.labPersonnel[0].personnel_extName}}</td>
                                            <td class="text-center">{{hist.labDT}}</td>
                                            <td>{{hist.consultPersonnel[0].personnel_firstName}} {{hist.consultPersonnel[0].personnel_middleName}} {{hist.consultPersonnel[0].personnel_lastName}} {{hist.consultPersonnel[0].personnel_extName}}</td>
                                            <td class="text-center">{{hist.consultDT}}</td>
                                            <td class="text-center">
                                                <div class="checkbox checkbox-danger" style="margin-top: 3px !important;">
                                                    <input type="checkbox" id="tagTested" value="true" ng-model="hist.isTested" ng-change="tagTested(hist, hist.isTested)">
                                                    <label></label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /QR CODE INFO FORM -->


        <!-- LIST OF PATIENTS -->
        <div class="animated fadeInRight ecommerce" ng-show="showClientList">
            <div class="col-lg-12">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" style="text-align:center !important">Laboratory Date:</label>
                        <div class="col-sm-2">
                            <input type="date" id="FilterDate" ng-change="filterResult(FilterDate)" name="FilterDate" style="text-transform:uppercase" ng-model="FilterDate" class="text-center form-control">
                        </div>
                    </div>
                </form>
            </div>
            <br />
            <div class="ibox float-e-margins">
                <div class="ibox-title text-center">
                    <label class="text-center">LIST OF PATIENTS</label>
                </div>
                <div class="ibox-content">
                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                        <table id="clientList_tbl" class="table table-stripped table-hover" style="width: 100%;">
                            <thead>
                                <tr>

                                    <th>#</th>
                                    <th>Last name</th>
                                    <th>First name</th>
                                    <th>M.I.</th>
                                    <th>Suffix</th>
                                    <th>Sex</th>
                                    <th>Age</th>
                                    <th>Contact no.</th>
                                    <th>Lab. Test</th>
                                    <th>Lab. Date & Time</th>
                                    <th>Referred by</th>
                                    <th>Referred Date & Time</th>

                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- /LIST OF PATIENTS -->

    </div>
</div>

@section scripts
{
    <script src="~/Scripts/AngularJS/Labtest/Labtest.js"></script>
}
