
@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .table-wrapper-scroll-y {
        display: block;
    }

    .my-custom-scrollbar {
        position: relative;
        /*height: 250px !important;*/
        overflow: auto;
        border: none;
        width: 100%;
    }

    th {
        position: sticky;
        position: -webkit-sticky;
        top: 0px;
        z-index: 2;
    }
</style>

<div ng-controller="XrayScutumResultCtrl" ng-init="">
    <!-- HEADER -->
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-6">
            <h2>Scutum Result</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="">Medicon</a>
                </li>
                <li>
                    <a href="">X-ray</a>
                </li>
                <li class="active">
                    <strong>Laboratory Result</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-6" style="margin-top:30px; text-align:end;">
            @*<button class="btn" ng-show="!isViewingRecord" ng-class="showClientList == false ? 'btn-primary':'btn-danger'" ng-click="showDiagnoseList()"><i class="fa" ng-class="showClientList == false ? 'fa-list':'fa-angle-double-left'"></i> {{showClientList == false ? 'Patient List':'Back'}} </button>*@
        </div>
    </div>
    <!-- /HEADER -->

    <div class="wrapper wrapper-content ">
        <div class="row">

            <!-- PATIENT LIST -->
            <div class="animated fadeInRight ecommerce">
                <div class="col-sm-12 col-xs-12">
                    <div class="panel">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                                    <h4 style="margin-top: 9px !important;"><label> LIST OF X-RAY CLIENTS </label></h4>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                    <form name="searchForm" class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                                        <div class="input-group">
                                            <input type="text" class="form-control border-aero" ng-model="searchVaccInfo" placeholder="Search by Last name" style="width:100%;" required>
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-primary" ng-disabled="searchForm.$invalid" ng-click="searchPerson(searchVaccInfo,'Name')"><i class="fa fa-search"></i> Find </button>
                                            </span>
                                        </div>
                                    </form>
                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                        <button class="btn btn-success pull-right" ng-click="showQRscanner()"><i class="fa fa-qrcode"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr style="margin-top: 0px !important; margin-bottom: 0px !important;" />
                        <div class="panel-body">
                            <div class="row form-group form-horizontal form-label-left">
                                <text class="control-label col-lg-8 col-md-8 col-sm-8 col-xs-12">Filter:</text>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <input type="text" class="form-control" ng-model="filterResult" placeholder="Filter result">
                                </div>
                            </div>
                            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                                <table id="xray_table" class="table table-stripped table-hover" style="width: 100%; height: 100%">
                                    <thead>
                                        <tr>

                                            <th>#</th>
                                            <th>QR Code</th>
                                            <th>Last name</th>
                                            <th>First name</th>
                                            <th>M.I.</th>
                                            <th>Suffix</th>
                                            <th class="text-center">Sex</th>
                                            <th class="text-center">Birthday</th>
                                            <th class="text-center">Contact no.</th>
                                            <th class="text-center" data-sort-ignore="true">Action</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-show="tableLoader">
                                            <td colspan="12" class="text-center">
                                                <span class="fa fa-spinner fa-spin fa-4x"></span><br /><br />
                                            </td>
                                        </tr>
                                        <tr role="row" ng-show="!tableLoader" ng-repeat="item in personList | filter: filterResult">
                                            <td>{{$index + 1}}</td>
                                            <td>{{item[0].qrCode}}</td>
                                            <td>{{item[0].lastName}}</td>
                                            <td>{{item[0].firstName}}</td>
                                            <td>{{item[0].middleName}}</td>
                                            <td>{{item[0].extName}}</td>
                                            <td class="text-center">{{item.sex[0] == true ? 'Male' : 'Female'}}</td>
                                            <td class="text-center">{{item[0].birthdate}}</td>
                                            <td class="text-center">{{item[0].contactNo}}</td>
                                            <td class="text-center">
                                                <button class="btn btn-primary btn-sm" ng-click="showResults(item)" data-toggle="tooltip" data-placement="top" title="Result"><i class="fa fa-list-ol"></i> </button>
                                                <button class="btn btn-success btn-sm" ng-click="encodeResult(item)" data-toggle="tooltip" data-placement="top" title="Encode"><i class="fa fa-flask"></i> </button>
                                            </td>
                                        </tr>
                                        <tr ng-show="personList.length == 0 && tableLoader == false">
                                            <td class="text-center text-semibold" colspan="12"> No Record Found! </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /PATIENT LIST -->

        </div>
    </div>

    <!-- MODAL SCAN QR CODE-->
    <div id="scanQR" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <button type="button" class="close" ng-click="scanner.stop();" data-dismiss="modal">×</button>
                    <h2 class="modal-title text-semibold text-justify">SCAN QR CODE</h2>
                </div>
                <div class="modal-body">
                    <div class="text-center" ng-show="camDisplay">
                        <label><i>NO CAMERA DEVICE FOUND!</i></label>
                    </div>
                    <div class="profile_img">
                        <!-- Current avatar -->
                        <video id="preview" class="img-responsive avatar-view" />
                    </div>
                    <hr />
                    <div>
                        <form name="qrSearchForm">
                            <div class="input-group">
                                <input type="text" class="form-control border-green" ng-model="qrCodeVal" placeholder="Search by QR code number" style="width:100%;" required>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-success" ng-disabled="qrSearchForm.$invalid" ng-click="searchQRcode(qrCodeVal, 'QR');">
                                        Find <i class="fa fa-qrcode"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /MODAL SCAN QR CODE -->
    <!-- MODAL PATIENT XRAY RESULT -->
    <div id="ResultModal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal" ng-click="resetForm()">×</button>
                    <h4 class="modal-title text-semibold text-center"> LABORATORY REQUEST HISTORY </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                            <text>QR code:</text>
                            <h3><strong>{{resultList[0].qrCode}}</strong></h3>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                            <text>Name:</text>
                            <h3><strong>{{resultList[0].lastName}}, {{resultList[0].firstName}} {{resultList[0].middleName != null ? resultList[0].middleName:''}} {{resultList[0].extName != null ? resultList[0].extName:''}}</strong></h3>
                        </div>
                    </div>
                    <hr style="margin-top: 10px;" />
                    <div class="table-wrapper-scroll-y my-custom-scrollbar" style="height: 300px !important;">
                        <table id="historyTable" class="table table-striped">
                            <thead style="background-color:rgba(208, 208, 208, 0.62);">
                                <tr role="row">
                                    <th>#</th>
                                    <th class="text-center">Date of Request</th>
                                    <th>Requesting Facility</th>
                                    <th class="text-center">Treatment History</th>
                                    <th class="text-center">Test Requested</th>
                                    <th class="text-center">Collection</th>
                                    <th class="text-center">Date Collected</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-show="vaccineTableLoader">
                                    <td colspan="9" class="text-center">
                                        <span class="fa fa-spinner fa-spin fa-4x"></span><br /><br />
                                    </td>
                                </tr>
                                <tr role="row" ng-show="!vaccineTableLoader" ng-repeat="item in resultList">
                                    <td>{{$index+1}}</td>
                                    <td class="text-center">{{item.dateOfRequest}}</td>
                                    <td>{{item.requestingFacility}}</td>
                                    <td class="text-center">{{item.treatmentHistory == true ? 'New':'Retreatment'}}</td>
                                    <td class="text-center">{{item.testRequested == true ? 'Xpert' : 'Smear Microscopy'}}</td>
                                    <td class="text-center">{{item.collection == true ? '1st' : 'Repeat'}}</td>
                                    <td class="text-center">{{item.dateCollected}}</td>
                                    <td>
                                        <button class="btn btn-primary btn-sm" ng-click="showResult(item)"><i class="fa fa-list-ol"></i></button>
                                        <button class="btn btn-success btn-sm" ng-click="encodeResult(item)"><i class="fa fa-pencil"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success col-lg-12 col-md-12" ng-click="vaccinate()"> Add Vaccination Record </button>
                </div>
            </div>
        </div>
    </div>
    <!-- /MODAL PATIENT VACCINATION HISTORY -->

</div>

@section scripts
{
    <script src="~/Scripts/AngularJS/Xray/XrayScutumResult.js?v=1.1"></script>
}

