@{
    ViewBag.Title = "Encoding";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    .swal2-container {
        z-index: 20000 !important;
    }

    /*.borderless tr td {
        border: none !important;
        padding: 2px !important;
    }*/

     .table-wrapper-scroll-y {
        display: block;
    }

     th {
	    position: sticky;
	    position: -webkit-sticky;
	    top: 0px;
	    z-index: 2;
    }

    .my-custom-scrollbar {
        position: relative;
        /*height: 760px !important;*/
        overflow: auto;
        border: none;
        width: 100%;
    }

    input#pusCells {
        width: 55px;
    }

    .swal2-popup {
        font-size: 1.3em !important;
    }
</style>

<div ng-controller="LabResultCtrl">
    <!-- HEADER -->
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Laboratory Result</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="">Medicon</a>
                </li>
                <li class="active">
                    <strong>Laboratory Result</strong>
                </li>
            </ol>
        </div>
        <div class="col-sm-2" style="margin-top:30px; text-align:end;">
            <button class="btn" ng-class="showClientList == false ? 'btn-primary':'btn-danger'" ng-show="showClientListBTN" ng-click="showDiagnoseList()"><i class="fa" ng-class="showClientList == false ? 'fa-list':'fa-angle-double-left'"></i> {{showClientList == false ? 'Patient List':'Back'}} </button>
        </div>
    </div>
    <!-- /HEADER -->


    <div class="wrapper wrapper-content ">
        <!-- QR CODE INFO FORM -->
        <div class="animated fadeInRight ecommerce" ng-show="!showClientList">
            <div class="row">
                <div class="col-lg-5 col-md-5">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title text-center">
                            <label style="margin-right: 20px;">SEARCH BY: </label>
                            <div class="radio radio-primary radio-inline">
                                <input type="radio" id="radio_byQR" name="radio_byQR" value="byQR" ng-model="searchBy" ng-change="selectSearchBy(searchBy)" />
                                <label for="radio_byQR"> <b>QR CODE</b> </label>
                            </div>
                            <div class="radio radio-danger radio-inline">
                                <input type="radio" id="radio_byName" name="radio_byName" value="byName" ng-model="searchBy" ng-change="selectSearchBy(searchBy)" />
                                <label for="radio_byName"> <b>NAME</b> </label>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div ng-show="searchBy == 'byQR'">
                                <div class="profile_img">
                                    <!-- Current avatar -->
                                    <video id="preview" class="img-responsive avatar-view" style="width: 100%; height: 100%;" />
                                </div>
                                <form name="qrSearchForm">
                                    <div class="input-group" style="margin-top: 10px; margin-bottom: -10px;">
                                        <input type="text" class="form-control border-green" ng-model="searchQRcode" placeholder="Search by QR code number" style="width:100%;" required>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-success" ng-disabled="qrSearchForm.$invalid" ng-click="mainSearch(searchQRcode)"> Find <i class="fa fa-qrcode"></i></button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                            <br />

                            <div class="text-center" ng-show="loader" style="margin-top: 10%;">
                                <div class="sk-spinner sk-spinner-double-bounce">
                                    <div class="sk-double-bounce1"></div>
                                    <div class="sk-double-bounce2"></div>
                                </div>
                                <text><i>Please wait, we are getting your data...</i></text>
                            </div>
                            <div ng-show="!loader">
                                <button class="btn btn-primary full-width" ng-show="showBackBtn" ng-click="showInfoForm = !showInfoForm; showBackBtn = !showBackBtn"><i class="fa fa-search"></i> Back to Search </button>
                                <form id="QR_FORM" name="QR_FORM" ng-show="showInfoForm">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label" for="qr_lastName">Last name</label>
                                                <input type="text" id="qr_lastName" name="qr_lastName" ng-model="qrData.lastName" placeholder="Last name" class="form-control text-center" readonly style="background-color: white;" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label" for="qr_firstName">First name</label>
                                                <input type="text" id="qr_firstName" name="qr_firstName" ng-model="qrData.firstName" placeholder="First name" class="form-control text-center" readonly style="background-color: white;" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label" for="qr_mi">Middle name</label>
                                                <input type="text" id="qr_mi" name="qr_mi" ng-model="qrData.middleName" placeholder="Middle name" class="form-control text-center" readonly style="background-color: white;" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label" for="qr_suffix">Suffix</label>
                                                <input type="text" id="qr_suffix" name="qr_suffix" ng-model="qrData.extName" placeholder="Suffix" class="form-control text-center" readonly style="background-color: white;" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label" for="qr_birthdate">Birthday</label>
                                                <input type="date" id="qr_birthdate" name="qr_birthdate" ng-model="qrData.birthdate" class="form-control text-center" readonly style="background-color: white;" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <label class="control-label">Sex</label>
                                            <div class="form-group text-center">
                                                <div class="radio radio-primary radio-inline">
                                                    <input type="radio" id="radio_sex_male" value="true" name="radio_sex" ng-model="qrData.sex" disabled />
                                                    <label for="radio_sex_male"> Male </label>
                                                </div>
                                                <div class="radio radio-danger radio-inline">
                                                    <input type="radio" id="radio_sex_female" value="false" name="radio_sex" ng-model="qrData.sex" disabled />
                                                    <label for="radio_sex_female"> Female </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="control-label" for="qr_contactNo">Contact no.</label>
                                                <input type="text" id="qr_contactNo" name="qr_contactNo" ng-model="qrData.contactNo" placeholder="Contact no." class="form-control text-center" readonly style="background-color: white;" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="control-label" for="qr_address">Address</label>
                                                <input type="text" id="qr_address" name="qr_address" ng-model="qrData.fullAddress" placeholder="Address" class="form-control text-center" readonly style="background-color: white;" />
                                            </div>
                                        </div>
                                    </div>
                                </form>

                                <div ng-show="!showInfoForm">
                                    <form id="INFO_FORM" name="INFO_FORM">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input type="text" id="info_lastName" name="info_lastName" ng-model="infoFormData.lastName" placeholder="Last name" class="form-control text-center" required />
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input type="text" id="info_firstName" name="info_firstName" ng-model="infoFormData.firstName" placeholder="First name" class="form-control text-center" required />
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <button type="submit" class="btn btn-primary full-width" ng-click="!INFO_FORM.$invalid ? mainSearchByName(infoFormData):''"><i class="fa fa-search"></i> Search Record </button>
                                            </div>
                                        </div>
                                    </form>
                                    <hr />
                                    <div class="table-wrapper-scroll-y my-custom-scrollbar" style="height: 300px !important;">
                                        <table class="table table-stripped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Last name</th>
                                                    <th>First name</th>
                                                    <th>Middle name</th>
                                                    <th>Sex</th>
                                                    <th>Birthday</th>
                                                    <th class="text-center">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="text-center" ng-show="tableLoader">
                                                    <td colspan="6">
                                                        <div class="sk-spinner sk-spinner-double-bounce">
                                                            <div class="sk-double-bounce1"></div>
                                                            <div class="sk-double-bounce2"></div>
                                                        </div>
                                                        <text><i>Please wait, we are loading your data...</i></text>
                                                    </td>
                                                </tr>
                                                <tr class="text-center" ng-show="searchResultList.length == 0 && tableLoader == false">
                                                    <td colspan="6">
                                                        <label class="text-danger">NO INFORMATION FOUND!</label>
                                                    </td>
                                                </tr>
                                                <tr ng-repeat="person in searchResultList | orderBy: 'firstName'">
                                                    <td>{{person.lastName}}</td>
                                                    <td>{{person.firstName}}</td>
                                                    <td>{{person.middleName}}</td>
                                                    <td>{{person.sex == 'MALE' ? 'M' : person.sex == 'FEMALE' ? 'F' : ''}}</td>
                                                    <td>{{person.birthDate}}</td>
                                                    <td class="text-center">
                                                        <button class="btn btn-sm btn-primary" ng-click="selectPerson(person)">Select</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-7 col-md-7">
                    <div class="panel panel-success" style="min-height: 210px; height: 840px;">
                        <div class="panel-heading text-center">
                            <label class="text-center">LABORATORY HISTORY</label>
                        </div>
                        <div class="panel-body">
                            <div class="table-wrapper-scroll-y my-custom-scrollbar" style="height: 760px !important;">
                                <table class="table table-stripped table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="">#</th>
                                            <th>Test</th>
                                            <th>Lab. Personnel</th>
                                            <th>Lab. Date & Time</th>
                                            @*<th>Referred by</th>*@
                                            @*<th>Date & Time</th>*@
                                            <th class="text-center">Status</th>
                                            <th>Action</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="text-center" ng-show="loader">
                                            <td colspan="7">
                                                <div class="sk-spinner sk-spinner-double-bounce">
                                                    <div class="sk-double-bounce1"></div>
                                                    <div class="sk-double-bounce2"></div>
                                                </div>
                                                <text><i>Please wait, we are loading your data...</i></text>
                                            </td>
                                        </tr>
                                        <tr class="text-center" ng-show="bpHistoryList.length == 0 && bpLoader == false">
                                            <td colspan="7">
                                                <label class="text-danger">NO INFORMATION FOUND!</label>
                                            </td>
                                        </tr>
                                        <tr ng-repeat="hist in testHistory | orderBy: '-labDT'">
                                            <td>{{$index + 1}}</td>
                                            <td>{{hist.labTestName}}</td>
                                            <td>{{hist.labPersonnel[0].personnel_firstName}} {{hist.labPersonnel[0].personnel_middleName}} {{hist.labPersonnel[0].personnel_lastName}} {{hist.labPersonnel[0].personnel_extName}}</td>
                                            <td>{{hist.labDT}}</td>
                                            @*<td>{{hist.consultPersonnel[0].personnel_firstName}} {{hist.consultPersonnel[0].personnel_middleName}} {{hist.consultPersonnel[0].personnel_lastName}} {{hist.consultPersonnel[0].personnel_extName}}</td>*@
                                            @*<td>{{hist.consultDT}}</td>*@
                                            <td class="text-center">
                                                <p><span class="badge" ng-class="hist.isEncoded == true ? 'badge-info' : 'badge-danger'">{{hist.isEncoded == true ? 'Encoded' : 'Not Encoded'}}</span></p>
                                            </td>
                                            <td>
                                                <button ng-disabled="hist.isEncoded != true" class="btn btn-success btn-sm" ng-click="viewLabResult(hist)"><i class="fa fa-eye"></i></button>
                                                <button class="btn btn-primary btn-sm" ng-click="encodeResult(hist, 0, true)"><i class="fa fa-pencil"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /QR CODE INFO FORM -->

        <!-- LIST OF PATIENTS -->
        <div class="animated fadeInRight ecommerce" ng-show="showClientList">
            <div class="row">
                <form class="form-horizontal">
                    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                        <label style="margin-top: 5px;">Laboratory Date:</label>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <input type="date" id="FilterDate" ng-change="filterResult(FilterDate)" name="FilterDate" style="text-transform:uppercase" ng-model="FilterDate" class="text-center form-control">
                    </div>
                </form>
            </div>
            <br />
            <div class="ibox float-e-margins">
                <div class="ibox-title text-center">
                    <label class="text-center">LIST OF PATIENTS</label>
                </div>
                <div class="ibox-content">
                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                        <table id="clientList_tbl" class="table table-stripped table-hover" style="width: 100%;">
                            <thead>
                                <tr>

                                    <th>#</th>
                                    <th>Last name</th>
                                    <th>First name</th>
                                    <th>M.I.</th>
                                    <th>Suffix</th>
                                    <th>Sex</th>
                                    <th>Age</th>
                                    <th>Contact no.</th>
                                    <th>Lab. Test</th>
                                    <th>Lab. Date & Time</th>
                                    <th>Referred by</th>
                                    <th>Date Encoded</th>
                                    <th>Encoded By</th>
                                    <th class="text-right" data-sort-ignore="true">Action</th>

                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /LIST OF PATIENTS -->


        @*MODAL LAB RESULT*@
        <div class="modal fade" id="modalLabResult">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title text-center">{{modalTitle}}</h4>
                    </div>
                    <div class="modal-body" style="height: 100%;">
                        <div class="text-center" ng-show="labResultLoader">
                            <div class="sk-spinner sk-spinner-double-bounce">
                                <div class="sk-double-bounce1"></div>
                                <div class="sk-double-bounce2"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-xs-4">
                                <button class="btn btn-outline btn-primary pull-left" ng-click="navLabImg('prev')"><i class="fa fa-caret-left"></i> Prev</button>
                            </div>
                            <div class="col-sm-4 col-xs-4 text-center">
                                <label>{{currentImgIndex + 1}} of {{imgCount}} Images</label>
                            </div>
                            <div class="col-sm-4 col-xs-4">
                                <button class="btn btn-outline btn-primary pull-right" ng-click="navLabImg('next')">Next <i class="fa fa-caret-right"></i></button>
                            </div>
                        </div>
                        <hr style="margin-top: 10px !important; margin-bottom: 10px !important;"/>
                        <small class="pull-left">{{displayFileName}}</small><button class="btn btn-sm btn-danger pull-right" ng-click="deleteLabImg()"><i class="fa fa-trash-o"></i></button>
                        <div id="labResult" ng-show="!labResultLoader" style="height:100%; width:100%;" class="img-responsive avatar-view"></div>
                    </div>
                </div>
            </div>
        </div>
        @*MODAL LAB RESULT*@

        @*MODAL SCANNER*@
        <div class="modal fade" id="modalScanner">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="resetScannerCanvas()">&times;</button>
                    </div>
                    <div class="modal-body" style="height: 100%;">
                        <div>
                            <h1 class="text-center" style="margin-top: -8px !important;">Scan Laboratory Result</h1>
                            <hr />
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label for="scannerName">Scanner:</label>
                                        <select class="form-control" id="scannerName"></select>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <label>Resolution (DPI):</label>
                                        <input type="text" class="form-control" id="resolution" value="100" readonly />
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <label for="pixelMode">Pixel Mode:</label>
                                        <select id="pixelMode" class="form-control">
                                            <option>Grayscale</option>
                                            <option selected>Color</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            @*<label>Image Format:</label>*@
                            @*<select id="imageFormat">
                                <option selected>JPG</option>
                                <option>PNG</option>
                            </select>*@
                            <div class="text-center">
                                <button class="btn btn-outline btn-primary" style="width: 150px;" ng-click="doScanning()"><i class="fa fa-print"></i> Scan </button>
                                <button class="btn btn-outline btn-success" style="width: 150px;" ng-click="saveDocument()"><i class="fa fa-download"></i> Save </button>
                            </div>
                            <hr />
                            @*<img id="scanOutput" />*@
                            <canvas id="scanCanvas" style="width: 100% !important; height: 100% !important;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*MODAL SCANNER*@

    </div>
</div>

@section scripts
{
    @*   JSPrintManager Scanner   *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.5/bluebird.min.js"></script>
    @*<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>*@
    <script src="~/Scripts/JSPrintManager.js"></script>

    <script src="~/Scripts/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery-validation/additional-methods.min.js"></script>
    <script src="~/Scripts/AngularJS/LabResult/LabResult.js?v=1.1"></script>
    <script src="~/Scripts/sweetalert2@11.2.1.all.min.js"></script>
}
